<p>{{datoServicio}}</p>
<p>Película favorita:</p>
<button (click)="onShowHide(true)" [class.showingData]="momstrarDatos===true">Mostrar Datos</button>
<button (click)="onShowHide(false)" [class.showingData]="momstrarDatos===false">Ocultar Datos</button>
<u1 *ngIf="momstrarDatos===true">
	<li>Titulo: <strong>{{pelicula.titulo}}</strong></li>
	<li>Director:<strong>{{pelicula.director}}</strong></li>
	<li>Año: <strong>{{pelicula.anio}}</strong></li>
<ui>
<p>
	Cambiar titulo:
	<input type="text" (keypress)="debug(true)"  [(ngModel)]="pelicula.titulo"/>
</p>
<hr/>
<p>Listado de Películas:</p>
<div>

<form ngForm action="">
		<input type="radio" [ngModel]="{checked: model.sex == 'male'}"  name="sex" value="male">Male<br>
		<input type="radio" [ngModel]="{checked: model.sex == 'female'}"  name="sex" value="female">Female
</form>

<input type="button" value="select male" (click)="model.sex='male'">
<input type="button" value="select female" (click)="model.sex='female'">
<div>Selected Radio: {{model.sex}}</div>

<u1>
	<ui *ngFor="#pelicula of peliculas" style="margin-bottom :30px;">
		<li (click)="onCambiarPelicula(pelicula)" class="pelicula-title"
    [class.clicked] ="peliculaElegida.titulo === pelicula.titulo" >Titulo: <strong>{{pelicula.titulo}}</strong></li>
		<li>Director:<strong>{{pelicula.director}}</strong></li>
		<li *ngIf="pelicula.anio">Año: <strong>{{pelicula.anio}}</strong></li>
		<li><a [routerLink]="['CrearPeliculaBasadaEnOtra', {titulo: pelicula.titulo, director: pelicula.director, anio: pelicula.anio}]">Añadir pelicula basada en esta</a></li>
	<ui>


<ui>
